<div class="mt-4">

    <form method="POST" action="" class="mb-4">
        {{!-- Trong form mặc định method nếu để trống là get, action là điều hướng sang route khác, nếu trống là tại
        route --}}
        <label class="form-label">Từ khóa</label>
        <input type="text" class="form-control" name="p1">
        <label class="form-label">Giới tính</label>
        <select name="p2" class="form-control">
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>

</div>
<button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>